$color-primary: #0262ec;
$dashboard-stat-icon-color: #bdbdbd;

// $link-color: darken($color-primary, 5%);
$link-color: #969696;
$link-transition: initial;
$link-decoration: underline;

$link-hover-color: darken($color-primary, 8%);
$link-hover-decoration: underline;
